* {
  margin: 0;
  padding: 0;
  color: #3f3d56;
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.container-register {
  max-width: 396px;
  width: 100%;
}

.conteiner-login {
  max-width: 515px;
  width: 100%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 37px;
  font-weight: 700;
  margin: 60px 0 22px;
}

.double-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.options-genre {
  display: flex;
  justify-content: space-between;
}

.space-between {
  width: 48%;
}

.country-label::after {
  content: "*";
  color: red;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.label-field {
  font-size: 14px;
  margin-bottom: 4px;
}

.field-input {
  padding: 12px 14px;
  border: 1px solid #abb3ab;
}

.select {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #abb3ab;
}

.box-genre {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.genre-title {
  margin-bottom: 9px;
}

.terms {
  display: flex;
  margin-bottom: 28px;
}

.checkbox-field {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.button {
  border: 0;
  width: 100%;
  color: white;
  padding: 14px 0;
  border-radius: 5px;
  margin-bottom: 28px;
  background-color: #3f3d56;
  transition-duration: 300ms;
}

.button:hover {
  background-color: #3f3d56e5;
}

a {
  color: #39c2e4;
}

.account {
  margin-bottom: 30px;
  text-align: center;
}

.login {
  text-decoration: none;
}
