* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;

  font-family: "Roboto", sans-serif;
}

:root {
  --text: #0f1419;
  --icons-text: #536471;
  --border: #dadddf;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.container-tweet {
  width: 591px;
  height: 161px;
  display: flex;
  border: 1px solid var(--border);
  padding: 17px 84px 19px 17px;
}

.image {
  margin-right: 17px;
  width: 48px;
}

.content {
}

.header {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}

h1 {
  color: var(--text);
  font-weight: 700;
  font-size: 15px;
}

h2,
.date {
  color: var(--icons-text);
  font-weight: 400;
  font-size: 15px;
}

.dot {
  width: 3px;
  height: 3px;
  background-color: var(--icons-text);
  display: inline-block;
  border-radius: 50%;
}

span .dot {
  margin-bottom: 2px;
}

.main p {
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
}

.margin {
  margin-top: 38px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  gap: 18px;
}

.box img {
  width: 15px;
}

small {
  color: var(--icons-text);
  font-size: 15px;
  font-weight: 400;
}
